*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-right: auto;
    font-family: cursive;
    text-transform: uppercase;
}
header{
    background-color: #111010;
    padding: 8px;
    text-align: center;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.navbar{
    background-color: #3333a8;
    height: 50px;
    align-items: center;
    display: flex;
    border: 2px solid lightcyan;
    border-radius: 3px;
    margin-left:  auto;
}
nav ul{
display: flex;
list-style: none;
justify-content: space-evenly;
align-items: center;
height: 100%;
flex-wrap: wrap;
padding-inline-start: 0;
margin-block: 0;
}
nav > ul > li{
    display: block;
    padding: 7px;
    margin: 3px;
}
nav > ul > li > a{
    text-decoration: none;
    color: rgb(226, 185, 185);
    font-weight: bold;
    padding: 7px 14px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s ease-in-out;
}
nav:hover{
    background-color: #232325;
    transform: translate(5px, 7px) rotate(6deg) scale(0.7);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
nav > ul > li > a:hover{
    background-color: lightcyan;
    color: black;
}